= render 'commons/header'
.user-list
  %h1 フォロー中
  - @followings.each do |following|
    = link_to account_path(following) do
      .user-list-card
        .user-list-card-image
          = image_tag following.author_image
        .user-list-card-name
          = following.username
    