.nav-bar
  .nav-bar-home
    = link_to articles_path do
      %i.fas.fa-home.fa-2x
  .nav-bar-search
    %i.fas.fa-search.fa-2x
  .nav-bar-new
    = link_to new_article_path do
      %i.fas.fa-camera.fa-2x
  .nav-bar-user
    = link_to profile_path do
      %i.far.fa-user.fa-2x
