.articles {
  margin-bottom: 300px;
}
.article-link {
  text-decoration: none;
  color: #000;
  .card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    .card-text {
      .card-text-title {
        h1 {
          font-size: 1.2rem;
          margin: 0;
        }
      }
      .card-text-content {
        margin-top: 10px;
        margin-bottom: 30px;
        p {
          font-size: 0.8rem;
          margin: 0;
        }
      }
      .card-text-user {
        display: flex;
        margin-bottom: 20px;
        .card-text-user-image {
          margin-right: 10px;
          margin-top: 2px;
          img {
            border-radius: 50%;
            width: 32px;
            height: 32px;
          }
        }
        .card-text-user-info {
          p {
            margin: 0;
            font-size: 0.8rem;
          }
          .created-at {
            color: #a8abb1;
            font-size: 0.8rem;
          }
        }
      }
    }
    .card-image {
      img {
        width: 100px;
        height: 100px;
      }  
    }
  }
}

.card:hover {
  background-color: #f7f9f9
}