.search-article {
  .search-article-title {
    margin-bottom: 60px;
  }
  .search-article-form {
    text-align: center;
    form {
      .search-article-form-keyword {
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
      .search-article-form-input {
        margin-bottom: 20px;
        input {
          width: 100%;
          height: 50px;
          font-size: 1.5rem;
          border-radius: 10px;
          outline: 0;
        }
      }
      .search-article-form-submit {
        input {
          width: 100%;
          height: 50px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 1.5rem;
          color: white;
          background-color: #000;
        }
        input:hover {
          background-color: #4c4c4c;
        }
      }
    }
  }
}